* {
  margin: 0px;
  padding: 0px;
  font-family: Arial; }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../font/Roboto-Bold.woff2"), url("../font/Roboto-Bold.woff") format("woff"), url("../font/Roboto-Bold.ttf") format("truetype"), url("../font/Roboto-Bold.eot") format("embedded-opentype"), url("../font/Roboto-Bold.svg#SFD-Heavy") format("svg"); }
@font-face {
  font-family: 'Roboto-Medium';
  src: url("../font/Roboto-Medium.woff2"), url("../font/Roboto-Medium.woff") format("woff"), url("../font/Roboto-Medium.ttf") format("truetype"), url("../font/Roboto-Medium.eot") format("embedded-opentype"), url("../font/Roboto-Medium.svg#SFD-Heavy") format("svg"); }
a {
  text-decoration: none; }

.header {
  width: 100%;
  height: 147px;
  background: #08276e; }

.bg {
  background: url(../images/banner.png);
  height: 100%;
  background-size: cover;
  background-position: -1224px -1011px; }

.fa {
  display: inline-block;
  background: url("../images/icon.png"); }

.fa-b {
  display: inline-block;
  background: url("../images/icon-b.png"); }

.fa-share {
  background-position: -10px -96px;
  width: 31px;
  height: 31px; }

.fa-menu-list {
  background-position: -129px -56px;
  width: 22px;
  height: 22px;
  display: inline-block; }

.logo-menu {
  background-position: -180px -55px;
  width: 94px;
  height: 22px;
  display: inline-block; }

.clear {
  clear: both; }

.fa-drop {
  background-position: -14px -80px;
  line-height: 24px;
  margin-left: 3px;
  margin-bottom: 2px;
  width: 8px;
  height: 5px; }

.active:after {
  content: '';
  height: 2px;
  width: 45px;
  background: #071d4f;
  position: absolute;
  display: inline-block;
  bottom: 0px; }

.fa-face {
  background-position: -47px -76px;
  width: 6px;
  height: 12px;
  margin-top: 8px; }

.fa-twi {
  background-position: -88px -78px;
  width: 12px;
  height: 10px;
  margin-top: 10px; }

.fa-folow {
  background-position: -180px -77px;
  width: 10px;
  height: 10px;
  margin-top: 10px; }

.fa-google {
  background-position: -136px -77px;
  width: 9px;
  height: 12px;
  margin-top: 10px; }

.logo-top {
  width: 100%;
  text-align: center; }
  .logo-top .logo {
    background-position: 0px 0px;
    width: 216px;
    height: 58px; }

.fa-b-like {
  background-position: -85px -29px;
  width: 10px;
  height: 11px; }

.fa-video {
  background-position: -215px -77px;
  width: 16px;
  height: 14px;
  line-height: 24px;
  padding-right: 8px; }

.fa-search {
  background-position: -256px -77px;
  width: 17px;
  height: 16px;
  line-height: 24px;
  padding-right: 8px;
  float: right; }

.fa-open {
  background-position: -299px -78px;
  width: 13px;
  height: 11px;
  line-height: 21px; }

.fa-see {
  background-position: -343px -80px;
  width: 12px;
  height: 8px;
  line-height: 21px; }

.fa-read {
  background-position: -389px -82px;
  width: 5px;
  height: 6px;
  line-height: 21px; }

.fa-video-b {
  background-position: -14px -120px;
  width: 70px;
  height: 70px; }

.fa-left {
  background-position: -257px -32px;
  width: 10px;
  height: 14px;
  display: inline-block; }

.fa-phapluat {
  background-position: -64px -96px;
  width: 36px;
  height: 32px;
  display: inline-block; }

.fa-thegioi {
  background-position: -113px -96px;
  width: 33px;
  height: 33px;
  display: inline-block; }

.fa-doanhnhan {
  background-position: -157px -90px;
  width: 33px;
  height: 39px;
  display: inline-block; }

.fa-giaitri {
  background-position: -217px -94px;
  width: 34px;
  height: 34px;
  display: inline-block; }

.fa-doisong {
  background-position: -273px -88px;
  width: 44px;
  height: 42px;
  display: inline-block; }

.fa-thethao {
  background-position: -331px -92px;
  width: 37px;
  height: 37px;
  display: inline-block; }

.fa-b-see {
  background-position: -9px -28px;
  width: 18px;
  height: 12px;
  display: inline-block; }

.fa-b-msg {
  background-position: -46px -28px;
  width: 18px;
  height: 14px;
  display: inline-block; }

.fa-congnghe {
  background-position: -392px -90px;
  width: 35px;
  height: 38px;
  display: inline-block; }

.fa-link {
  background-position: -8px -140px;
  width: 12px;
  height: 12px;
  display: inline-block; }

.fa-next-page {
  background-position: -32px -141px;
  width: 12px;
  height: 12px;
  display: inline-block; }

.btn-face {
  background-position: -13px -59px;
  width: 8px;
  height: 15px; }

.logo-footer {
  background-position: -13px -225px;
  width: 169px;
  height: 41px; }

.bg-white {
  background: #fff;
  display: inline-block; }

.btn-green {
  background: #4267b2;
  font-size: 12px;
  padding: 4px 20px;
  color: #fff;
  border-radius: 2px; }

.item {
  width: 100%;
  display: inline-block; }

.img {
  width: 100%; }

img {
  width: 100%; }

.mg-t-28 {
  margin-top: 28px; }

.mg-t-30 {
  margin-top: 30px; }

.all-content {
  background: #f8f8f8;
  width: 100%; }

.pad {
  display: inline-block;
  margin-left: 18px; }

.active-b {
  font-family: Roboto-Bold;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  border-bottom: 2px solid #ebebeb;
  padding-bottom: 10px; }

.active-b:after {
  content: '';
  height: 2px;
  width: 50px;
  background: #071d4f;
  display: inline-block;
  position: absolute;
  bottom: -2px;
  left: 0px; }

.end {
  border: none !important; }

.left {
  float: left; }

.right {
  float: right; }

.all {
  width: 100%;
  display: inline-block; }
  .all .content-video {
    width: 1292px;
    float: left; }
  .all .all-content {
    width: 100%;
    display: inline-block; }
  .all .menu {
    height: 60px;
    width: 100%;
    background: #071024;
    display: inline-block; }
    .all .menu .container {
      margin-top: 15px;
      overflow: hidden;
      width: 1292px; }
      .all .menu .container .fa-menu-list {
        padding-right: 20px; }
      .all .menu .container .menu-left {
        margin-top: 5px;
        margin-left: 28px; }
      .all .menu .container .menu-right ul {
        float: left;
        list-style: none; }
        .all .menu .container .menu-right ul li {
          display: inline-block;
          margin-left: 45px; }
          .all .menu .container .menu-right ul li a {
            font-size: 18px;
            font-family: "Roboto";
            color: #f8f8f8;
            font-weight: bold;
            line-height: 1.111; }
          .all .menu .container .menu-right ul li .input-search {
            width: 425px;
            height: 30px;
            background: #ebebeb;
            border-radius: 5px;
            border: none;
            display: inline-block; }
            .all .menu .container .menu-right ul li .input-search input {
              width: 86%;
              background: #ebebeb;
              border: none;
              height: 30px;
              border-radius: 5px; }
            .all .menu .container .menu-right ul li .input-search .fa-search {
              margin: 6px 12px;
              position: relative; }
            .all .menu .container .menu-right ul li .input-search .fa-search:before {
              position: absolute;
              top: -2px;
              left: -20px;
              content: '';
              width: 1px;
              height: 22px;
              background: #081940; }
  .all .all-content {
    width: 100%;
    display: inline-block; }
    .all .all-content .top-content {
      width: 100%;
      display: inline-block;
      background: #090909; }
    .all .all-content .container {
      width: 753px;
      margin: 0px auto;
      margin-top: 85px;
      margin-bottom: 30px; }
      .all .all-content .container .video-play .img {
        width: 697px;
        height: 394px;
        background: url(../images/video-detail.png);
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        margin-bottom: -4px; }
        .all .all-content .container .video-play .img i {
          position: absolute;
          top: 45%;
          left: 45%; }
      .all .all-content .container .video-play .social {
        display: inline-block;
        float: right; }
        .all .all-content .container .video-play .social a {
          display: block;
          width: 40px;
          height: 40px;
          background: #282b2d;
          margin-bottom: 15px;
          opacity: 0.6; }
          .all .all-content .container .video-play .social a:hover {
            opacity: 1; }
          .all .all-content .container .video-play .social a i {
            margin: 15px; }
          .all .all-content .container .video-play .social a .fa-link {
            margin: 13px !important; }
      .all .all-content .container .video-play .next-video {
        width: 697px;
        display: inline-block;
        background: #0c111b; }
        .all .all-content .container .video-play .next-video .note {
          font-size: 14px;
          font-family: "Roboto";
          color: rgba(254, 253, 253, 0.502);
          line-height: 1.429;
          margin: 20px; }
        .all .all-content .container .video-play .next-video .row {
          width: 100%;
          display: inline-block; }
          .all .all-content .container .video-play .next-video .row .item {
            width: 330px;
            display: inline-block;
            border-right: 1px solid #515358;
            margin-left: 20px; }
            .all .all-content .container .video-play .next-video .row .item img {
              width: 89px;
              height: 58px; }
            .all .all-content .container .video-play .next-video .row .item .name-video {
              width: 207px;
              display: inline-block;
              font-size: 14px;
              font-family: "Roboto";
              color: #fefdfd;
              line-height: 1.429;
              margin-left: 20px; }
            .all .all-content .container .video-play .next-video .row .item p {
              display: inline-block; }

.no-border {
  border: none !important; }

.mg-t-50 {
  margin-top: 50px; }

.fa-load {
  background-position: -6px -160px;
  width: 54px;
  height: 58px;
  display: inline-block; }

/*# sourceMappingURL=detail-video.css.map */
